services:
  - type: web
    name: umkm-salsabila
    env: docker
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: GOOGLE_SHEETS_ID
        sync: false
      - key: GOOGLE_SHEETS_RANGE
        value: Sheet1
      - key: GOOGLE_SHEETS_CREDENTIALS
        sync: false
      - key: CLOUDINARY_URL
        sync: false
